@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.App {
  height: 100vh;
  background-color: black;
  color: white;
  /* border: white 1px solid; */
}

.heading {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 30px;
  width: 900px;
  text-align: center;
}
